<div class='currentPostModal'>
  <button class='closeModal'>X</button>

  <header class='modalHeader'>
  <% if(type === 'donation') { %>
      <h3>Donation Based Deeds:</h3>
  <% } else if(type === 'service') { %>
    <h3>Service Based Deeds:</h3>
  <% } else { %>
    <h3>Local Causes:</h3>
  <% }; %>
  </header>
  <div class='modalMain'>
      <ul class='completeLists'>
        <% _.each(list, function(data) { %>
          <li class='deed' data-id='<%= data.deed.id %>'>
            <div class='deedEntry'>
              <h4><%= data.deed.title %></h4>
              <p><%= data.deed.description %></p>
            </div>

            <div class='voteTotals'>
              <!-- Only shows up vote button if the current user hasnt voted on it yet -->
              <% if(data.voted === false) { %>
                <p class='thumbs vote upVote' data-id='<%= data.deed.id %>'>8</p>
              <% } else { %>
                <p class='thumbs vote'>8</p>
              <% }; %>
              <p><%= data.up %></p>

              <!-- Only shows down vote button if the current user hasnt voted on it yet -->
              <% if(data.voted === false) { %>
                <p class='thumbs vote downVote' data-id='<%= data.deed.id %>'>2</p>
              <% } else { %>
                <p class='thumbs vote'>2</p>
              <% }; %>
              <p><%= data.down %></p>
            </div>
          </li>

        <% }); %>
      </ul>
    </div> <!-- end modalMain -->


</div> <!-- end currentPostModal -->