<p class='back'>Back</p>
<div class='deedInformation clearfix'>
  <ul class='deedDets clearfix'>
    <% if(details.picture != 'null') { %>
      <li class='clearfix'>
        <div class='leftCol'>
            <img src='<%= details.picture %>'/>
        </div>
        <div class='rightCol'>
          <h4><%= details.title %></h4>
        </div>
      </li>
    <% } else { %>
      <h4><%= details.title %></h4>
    <% } %>
    <li class='clearfix'>
      <div class='leftCol'>
        <h5>Category:</h5>
      </div>
      <div class='rightCol'>
        <p><%= capitalize(details.deed_type) %></p>
      </div>
    </li>

    <li class='clearfix'>
      <div class='leftCol'>
        <h5>Description:</h5>
      </div>
      <div class='rightCol'>
        <p><%= details.description %></p>
      </div>
    </li>

    <% if(details.location != 'null') { %>
      <li class='clearfix'>
        <div class='leftCol'>
          <h5>Location:</h5>
        </div>
        <div class='rightCol'>
          <p><%= details.location %></p>
        </div>
      </li>
    <% } %>

    <% if(details.deadline != 'null') { %>
      <li class='clearfix'>
        <div class='leftCol'>
          <h5>Deadline:</h5>
        </div>
        <div class='rightCol'>
          <p><%= details.deadline %></p>
        </div>
      </li>
    <% } %>

    <% if(details.contact != 'null') { %>
      <li class='clearfix'>
        <div class='leftCol'>
          <h5>Contact: </h5>
        </div>
        <div class='rightCol'>
          <p><%= details.contact %></p>
        </div>
      </li>
    <% } %>
  </ul>

  <p class='button submitPost' data-id='<%= details.id %>'>Start a Post</p>

</div>
