<li class='deed clearfix' data-id='<%= data.deed.id %>'>
  <div class='deedEntry'>
    <h4><%= data.deed.title %></h4>
  </div>

  <div class='voteTotals'>
    <!-- Only shows up vote button if the current user hasnt voted on it yet -->
    <% if(data.voted === false) { %>
      <p class='thumbs vote upVote' data-id='<%= data.deed.id %>'>8</p>
    <% } else { %>
      <p class='thumbs vote'>8</p>
    <% }; %>
    <p><%= data.up %></p>

    <!-- Only shows down vote button if the current user hasnt voted on it yet -->
    <% if(data.voted === false) { %>
      <p class='thumbs vote downVote' data-id='<%= data.deed.id %>' id='align'>2</p>
    <% } else { %>
      <p class='thumbs vote'>2</p>
    <% }; %>
    <p><%= data.down %></p>
  </div>
</li>
