<li class='deed' data-id='<%= data.deed.id %>'>
  <div class='deedEntry'>
    <h4><%= data.deed.title %></h4>
  </div>

  <div class='voteTotals'>
    <!-- Only shows up vote button if the current user hasnt voted on it yet -->
    <% if(data.voted === false) { %>
      <p class='vote upVote' data-id='<%= data.deed.id %>'>Like: <span><%= data.up %></span></p>
    <% } else { %>
      <p class='vote'>Like: <span><%= data.up %></span></p>
    <% }; %>

    <!-- Only shows down vote button if the current user hasnt voted on it yet -->
    <% if(data.voted === false) { %>
      <p class='vote downVote' data-id='<%= data.deed.id %>'>Dislike: <span><%= data.down %></span></p>
    <% } else { %>
      <p class='vote'>Dislike: <span><%= data.down %></span></p>
    <% }; %>

  </div>
</li>
