<li class='featuredCause' data-id='<%= data.deed.id %>'>
  <header class='localHeader'>
    <% if(data.deed.category === 'local') { %>
      <h4>Featured Local Cause</h4>
    <% } else if(data.deed.deed_type === 'donation') { %>
      <h4>Featured Donation</h4>
    <% } else { %>
      <h4>Featured Service</h4>
    <% } %>
  </header> <!-- end localHeader -->

  <div class='featuredContainer'>
    <div class='featuredCauseImage'>
      <img src='<%= data.deed.picture %>'>
    </div> <!-- end featuredCauseImage -->

    <header class='featuredCauseTitle'>
      <h4><%= data.deed.title %></h4>
    </header> <!-- end featuredCauseTitle -->

    <div class='featuredDetails'>
      <% if(data.deed.url) { %>
        <% if((data.deed.url).match(/^http:\/\//) || (data.deed.url).match(/^https:\/\//)) { %>
          <p><a href='<%= data.deed.url %>' target='_blank' tabindex='-1'><%= data.deed.url %></a></p>
        <% } else { %>
          <p><a href='http://<%= data.deed.url %>' target='_blank' tabindex='-1'><%= data.deed.url %></a></p>
        <% } %>
      <% } %>

      <% if(data.deed.phone) { %>
        <p>Phone Number: <span class='localContact'><%= data.deed.phone %></span></p>
      <% } %>

      <% if(data.deed.email) { %>
        <p>Email: <a href="mailto:<%= data.deed.contact %>" target='_blank' class='localContact localEmail' tabindex='-1'><%= data.deed.email %></a></p>
      <% } %>

      <h6>Description:</h6>
      <p><%= data.deed.description %></p>
    </div>

    <% if(gon.logged_in && status != 'current') { %>
      <div class='postButton'>
        <p class='featuredStart button' data-id='<%= data.deed.id %>'>Do This Good Deed</p>
      </div> <!-- end postButton -->
    <% } %>
  </div> <!-- end featuredContainer -->



</li> <!-- end featuredCause -->