<li class='featuredEntry' data-id='<%= data.deed.id %>'>
  <div class='featuredContainer'>
    <div class='featuredImage'>
      <img src='<%= data.deed.picture %>'>
    </div> <!-- end featuredImage -->

    <div class='featuredInfo clearfix'>
      <div class='featuredTitle'>
        <h4><%= data.deed.title %></h4>
      </div>

      <div class='featuredVotes clearfix'>
        <p><span class='thumbs'>8</span> <%= data.up %> </p>
        <p><span class='thumbs'>2</span> <%= data.down %> </p>
      </div> <!-- end featuredVotes -->
    </div> <!-- end featuredInfo -->
  </div> <!-- end featuredContainer -->
</li> <!-- end featuredEntry -->