<li class='featuredCause' data-id='<%= data.deed.id %>'>
  <header class='localHeader'>
    <% if(data.deed.category === 'local') { %>
      <h4>Featured Local Cause</h4>
    <% } else if(data.deed.deed_type === 'donation') { %>
      <h4>Featured Donation</h4>
    <% } else { %>
      <h4>Featured Service</h4>
    <% } %>
  </header> <!-- end localHeader -->

  <div class='featuredCauseImage'>
    <img src='<%= data.deed.picture %>'>
  </div> <!-- end featuredCauseImage -->

  <header class='featuredCauseTitle'>
    <h4><%= data.deed.title %></h4>
    <p><%= data.deed.url %></p>
    <p class='localContact'>Contact</p>
  </header> <!-- end featuredCauseTitle -->

  <div class='featuredDetails'>
    <h6>Description:</h6>
    <p><%= data.deed.description %></p>
  </div>

</li> <!-- end featuredCause -->