<li class='featuredCause' data-id='<%= data.deed.id %>'>
  <div class='featuredCauseImage'>
    <img src='<%= data.deed.picture %>'>
  </div> <!-- end featuredCauseImage -->

  <header class='featuredCauseTitle'>
    <h4><%= data.deed.title %></h4>
  </header> <!-- end featuredCauseTitle -->

  <div class='featuredContact'>
    <h5>Contact Info</h5>
    <p><%= data.deed.contact %></p>
  </div> <!-- end featuredContact -->

  <div class='featuredPage'>
    <h5>Homepage</h5>
    <p><%= data.deed.contact %></p>
  </div> <!-- end featuredVotes -->
</li> <!-- end featuredCause -->